.container {
  margin: 0;
  padding: 1rem;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 0.5px solid #011820;
}

.navbar-container a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.navbar-container a:hover {
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo {
  font-size: 4rem;
  letter-spacing: 2px;
  font-family: "Amatic SC", cursive;
  text-align: left;
  padding-left: 2rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main .title {
  margin-top: 3rem;
  font-weight: 300;
  margin-bottom: 0;
}

.main h4 {
  margin-top: 0;
  padding-top: 0;
  font-weight: 300;
  font-size: 2.5rem;
}

.main h4 span {
  font-weight: 500;
  color: black;
}

.main h4 span:hover {
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.go-to {
  display: relative;
  margin-top: 4rem;
}

.go-to button {
  padding-bottom: 15rem;
  padding-top: 14rem;
  width: 100%;
}

.go-to button:hover {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.go-to h4 {
  text-align: center;
}

.introduction-container {
  width: 100%;
  height: 100%;
}

.case_studies .card {
  height: 33rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.case_studies .card:hover {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.case_studies h3 {
  color: black;
  font-weight: 320;
  text-shadow: 0.3px 0.3px 0.3px white;
}

.case_studies #card-1 {
  background: url(../../public/Assets/Pictures/Card-1A.jpeg);
  background-size: cover;
  background-position: center;
}

.case_studies #card-2 {
  background: url(../../public/Assets/Pictures/Card-2A.jpeg);
  background-size: cover;
  background-position: center;
}

.case_studies #card-3 {
  background: url(../../public/Assets/Pictures/Card-3A.webp);
  background-size: cover;
  background-position: center;
}

.case_studies #card-4 {
  background: url(../../public/Assets/Pictures/Card-4A.jpeg);
  background-size: cover;
  background-position: center;
}

.case_studies #card-5 {
  background: url(../../public/Assets/Pictures/Card-5A.jpeg);
  background-size: cover;
  background-position: center;
}

.article {
  text-align: left;
  padding: 2rem;
  text-align: justify;
  font-size: 17px;
}

.article h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
}

.article figcaption {
  font-style: italic;
  font-weight: 450;
}

.about {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 17px;
}
/*# sourceMappingURL=Style.css.map */