$breakpoint-phablet: 550px;

.mobile-navbar {
  display: none;
}

.container {
  margin: 0;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 0.5px solid rgb(1, 24, 32);

  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: black;
  }
  a:hover {
    font-weight: 700;
    transition: transform 0.4s;
    transform: scale(1.1);
  }
}

.logo {
  font-size: 4rem;
  letter-spacing: 2px;
  font-family: "Amatic SC", cursive;
  text-align: left;
  padding-left: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

// Media for navbar

@media only screen and (max-width: $breakpoint-phablet) {
  .desktop-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
    overflow: hidden;
    position: relative;

    .logo {
      font-size: 25px;
      padding-bottom: 1rem;
    }

    #hamburger {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1rem;
      padding-right: 2rem;
      cursor: pointer;
    }

    .nav-links-mobile {
      display: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      list-style: none;
      border-bottom: 0.5px solid black;
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        color: black;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }
    }
  }
}

// Main.js
.main {
  .title {
    margin-top: 3rem;
    font-weight: 300;
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
    padding-top: 0;
    font-weight: 300;
    font-size: 2.5rem;

    span {
      font-weight: 500;
      color: black;
    }
    span:hover {
      font-weight: 700;
      transition: transform 0.4s;
      transform: scale(1.1);
    }
  }
}

// Main media
@media only screen and (max-width: $breakpoint-phablet) {
  .main {
    .columns {
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.go-to {
  display: relative;
  margin-top: 4rem;

  button {
    padding-bottom: 15rem;
    padding-top: 14rem;
    width: 100%;
  }

  button:hover {
    transition: transform 0.4s;
  }

  h4 {
    text-align: center;
  }
}

.introduction-container {
  width: 100%;
  height: 100%;
}

.case_studies {
  .card {
    height: 33rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
  }

  .card:hover {
    transition: transform 0.4s;
    transform: scale(1.03);
  }

  h3 {
    color: black;
    font-weight: 320;
    text-shadow: 0.3px 0.3px 0.3px rgb(255, 255, 255);
  }

  #card-1 {
    background: url(../../public/Assets/Pictures/Card-1A.jpeg);
    background-size: cover;
    background-position: center;
  }

  #card-2 {
    background: url(../../public/Assets/Pictures/Card-2A.jpeg);
    background-size: cover;
    background-position: center;
  }

  #card-3 {
    background: url(../../public/Assets/Pictures/Card-3A.webp);
    background-size: cover;
    background-position: center;
  }

  #card-4 {
    background: url(../../public/Assets/Pictures/Card-4A.jpeg);
    background-size: cover;
    background-position: center;
  }

  #card-5 {
    background: url(../../public/Assets/Pictures/Card-5A.jpeg);
    background-size: cover;
    background-position: center;
  }
}

// Media for case studies
@media only screen and (max-width: $breakpoint-phablet) {
  .case_studies {
    .columns {
      margin: 0;
      margin-bottom: 1.5rem;
    }

    .card {
      border: 0.5px solid black;
    }
  }
}

.article {
  text-align: left;
  padding: 2rem;
  text-align: justify;
  font-size: 17px;

  h3 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  figcaption {
    font-style: italic;
    font-weight: 450;
  }
}

// Media for articles
@media only screen and (max-width: $breakpoint-phablet) {
  .article {
    padding: 0.5rem;
    font-size: 15px;

    h3 {
      text-align: left;
    }

    figure {
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 1rem;

      img {
        width: 100% !important;
        height: auto;
      }
    }
  }
}

.about {
  // center text
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 17px;
}

// Media for about
@media only screen and (max-width: $breakpoint-phablet) {
  .about {
    padding: 0.5rem;
    font-size: 15px;
  }
}

.contact {
  margin-top: 2rem;

  textarea {
    height: 20rem;
  }

  #exampleEmailInput,
  #exampleMessage {
    padding: 1.5rem;
  }
}

// Media for contact
@media only screen and (max-width: $breakpoint-phablet) {
  .contact {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

// Media for summary
@media only screen and (max-width: $breakpoint-phablet) {
  #summary {
    padding: 1rem;
    text-align: left;
  }
}
